@theme {
  --color-primary: #2f4f4f;
  --color-Secondary: #647d9e;
  --color-touch: #00cffd;
  --color-bg: #09090b;
  --color-text: #d4d4d8;
  --color-light: #ffffff;
  --color-grad-1: #000428;
  --color-grad-2: #004e92;
  --color-grad-3: #000046;
  --color-grad-4: #1cb5e0;
  --color-input: #27272a;
}
